*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
body{
    height: 100vh;
    display: flex;
    flex-direction: column;

}
nav{
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 0px 1px inset, rgba(0, 0, 0, 0.9) 0px 0px 0px 1px;

}
ul{
    display: flex;
    list-style-type: none;

}
ul li{
    padding: 15px;
    justify-content: center;
}
.background{
    background-color: antiquewhite;
}
ul li a{
    text-decoration: none;
    
}

header{
    background: white;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.container{
    display: flex;
    width: 90%;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: space-evenly;
    padding: 20px;
    gap: 20px;

}
.card{
    background: white;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    height: 25vh;
    flex-basis: 31%;

}
.full-card{
    background: white;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    flex-basis: 98%;
    height: 25vh;
}
table{
    /* width: 100%; */
    border-collapse: collapse;
}
td, th{
    padding: 20px;
    background: rgb(115, 207, 207);
    color: white;
}
thead{
    background: rgb(116, 137, 137);
    color: white;
}
tbody td:nth-child(1){
    background: rgb(124, 145, 188);
}
tbody td:nth-child(2){
    background: rgb(68, 71, 163);
}
tbody td:nth-child(3){
    background: rgb(50, 34, 137);

}
tbody td:nth-child(4){
    background: rgb(46, 18, 168);

}
